.buttons{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px ;
    padding-right: 4px;
    font-size:small; 
    color: white ;
    font-weight: bold;
    background-color: rgb(25, 118, 210)  ;
    border-radius: 5px;
    margin-left: 20px;
}

.buttons:hover{
    background-color:rgb(21, 101, 192);
}

.addClientBody{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.addClientBlock{
    justify-content: space-between;
    min-height: 400px;
}

.addClientBlockTitle{
    font-weight: bold;
    display: flex;
    font-size: larger;
    justify-content: center;
}